.outer-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addjobs-coverbox {
    background-color: #ffffff;
    border-radius: 15px;
    width: 40vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
